# Scrub Yelp dataset
Cleanup plan:

1. Remove records with no review text
2. Remove records with duplicated text

## Import dependencies

In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
from time import time

## Read Yelp data

In [4]:
data_dir = '../../data/'
os.listdir(data_dir)

['review.csv']

In [5]:
t = time()
df = pd.read_csv(data_dir + 'review.csv')
elapsed = time() - t
print("----- DataFrame loaded"
      "\nin {0:.2f} seconds".format(elapsed) +
      "\nwith {0:,} rows\nand {1:,} columns"
      .format(df.shape[0], df.shape[1]) +
      "\n-- Column names:\n", df.columns)

----- DataFrame loaded
in 65.74 seconds
with 6,685,900 rows
and 9 columns
-- Column names:
 Index(['stars', 'review_id', 'user_id', 'funny', 'text', 'date', 'useful',
       'cool', 'business_id'],
      dtype='object')

## Reviews with no text

In [13]:
df['text_len'] = df['text'].str.len()
mask1 = df['text_len'].isnull()
mask1.sum()

2

In [14]:
df[mask1]

,stars,review_id,user_id,funny,text,date,useful,cool,business_id,text_len
3427823,1.0,hpY467Acucmh3tCmEYGiDw,pUKAjAaSMkxiJ1WCIFSsBQ,2,NaN,2014-11-15 21:14:34,7,1,I7XWtKL1oHohZCtCCyQIog,NaN
6334066,3.0,iHdxK8lwkYn0rlNh-REuGQ,v3DIq18Z30KNwyUvBXtXEA,0,NaN,2014-12-26 08:32:06,0,0,oXoVJ0xKv82cBo9U6oEjlQ,NaN

In [15]:
df = df[~mask1]
print("Records with no review text were dropped. {0:,} records remain in the DataFrame.".format(len(df)))

Records with no review text were dropped. 6,685,898 records remain in the DataFrame.

## Duplicate checks

In [16]:
mask1 = df.duplicated(subset=['text'])
mask1.sum()

17162

### Remove records with duplicate review text

In [17]:
df = df[~mask1]
print("Records with duplicated text were dropped. {0:,} records remain in the DataFrame.".format(len(df)))

Records with duplicated text were dropped. 6,668,736 records remain in the DataFrame.

## Remove new line symbols (\n)

In [ ]:
df['text'] = df['text'].str.replace('\n', '')